body {
  padding-top: 70px;
  background-color: #333333;
}
.jumbotron{
  background-color: #333333;
  color: white;
}
.panel{
  background-color: #333333;
  color:white;
}
.lead{
  color:white;
}
.form-control{
  background-color: #333333;
  color:white;
}
.podatki-color{
  background-color: teal !important;
  border-color: teal !important;
}
.podatki-border{
  border-color: teal !important;
}
.aplikacija-color{
  background-color: #8c2b4c !important;
  border-color: #8c2b4c !important;
}
.aplikacija-border{
  border-color: #8c2b4c !important;
}
.dropdown-menu{
  background-color: #333333;
}
.dropdown-menu > li > a{
  color: white;
}
.dropdown-toggle{
  font-size: 14px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #333333;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.h-100{
  height: 100%;
}
.el-wrapper > *{
  margin-bottom: 10px;
}
.div-centered{
  float: none;
  margin: 0 auto;
}
.no-padding-topbottom{
  padding-bottom: 0px;
  padding-top: 0px;
}
.btn-flexdisplay{
  display: flex;
  justify-content: center;
}
#avatar{
  border-radius: 15px;
  object-fit: cover;
  margin-left: 10%;
  margin-right: 20%;
  transition: .5s ease;
}
.podatki{
  float: left;
  padding-top: 20px;
  padding-left: 18%;
  padding-right: 20%;
}
div#pacient >div >div > div >p > span{
  float: right;
  font-family: 'Baloo Bhai', cursive;
}
.bigger{
  font-size: 18px;
}
p.bigger{
  font-family: 'Baloo Bhai', cursive;
  font-weight: 200;
}
.imagecontainer:hover > a >#avatar{
  opacity: 0.4;
}
.bars{
  opacity: 0.8;
  transition: .3s ease;
}
.bars:hover{
  opacity: 1;
}
.hide{
  width: 0;
  opacity: 0;
}
.spinner-animation {
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
#diagnoza, .label-info{
  background-color: #8c2b4c;
  border-color: #8c2b4c;
}
#diagnoza:hover{
  background-color: #72253f;
  border-color: #72253f;
}
.ui-menu .ui-menu-item .ui-menu-item-wrapper:hover{
  background-color: #72253f;
}
.suggestion{
  flex-wrap: wrap;
}
.label-info{
  margin: 2px;
}
.ui-autocomplete{
  border-color: #8c2b4c !important;
}
#diagnosisResults{
  height: 170px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
}
.results{
  height: 100px;
  margin-bottom: 20px;
}
div.results > a{
  font-size: 20px;
  font-family: 'Baloo Bhai', cursive;
}
code{
  background-color: #333333 !important;
}
.main-logo{
  padding: 5px;
}
#symptomSearch:disabled{
  background-color: #333333;
}